html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}



.custom-list {
    list-style-type: none; 
    padding-left: 0;
}

.custom-list li {
     background: url('../Assets/Images/List-img.jpg'); 
     background-repeat: no-repeat;
     background-position: 0 0; 
     background-size: 30px 30px; 
     padding-left: 35px;
     margin-bottom: 10px;
}

.bgColor {
    position: relative;
    background-color: #162647;
}

.orgBgColor {
    background-color: #f3554e;
}

.orgColor {
    color: #f3554e;
}

.arrow {
    position: absolute;
    top: 50px;
    right: -10px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #162647;
}

.signbtn {
    background-color: #2d59b0;
    color : white;
}

    .signbtn:hover {
        background-color: #f3554e;
        color : white;
    }

.m2margin{
    margin-top : 112px;
}

.m3margin{
    margin-top : 112px;
}

.blueColor {
    color: #2e58af;
}

.footer{
    font-size: 12px;
}